<button (click)="startGame()">Commencer le jeu</button>

<div *ngIf="showColor" [style.background-color]="color" style="width: 100px; height: 100px; margin-top: 10px;">
  <p>{{ countdown }} secondes !</p>
</div>

<div *ngIf="!showColor && gameStarted">
  <p>Quelle était la couleur affichée ?</p>
  <div *ngFor="let color of colorChoices">
    <button (click)="checkAnswer(color)" style="background-color: {{ color }}; width: 100px; height: 40px; margin: 5px;">
      {{ color }}
    </button>
  </div>
</div>

<p *ngIf="successMessage">{{ successMessage }}</p>
